@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Bowlby+One&family=Carter+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: #141313;
}

.form-container .formulario .send-button {
  grid-area: bttn;
  padding: 3px;
  justify-self: end;
  height: 50px;
  width: 120px;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  color: #fff;
  background-color: rgba(62, 52, 117, 0.7725490196);
  border: none;
  border-radius: 4px;
  transition: 0.3s;
}
.form-container .formulario .send-button:hover {
  box-shadow: 2px 2px black;
}
@media (max-width: 500px) {
  .form-container .formulario .send-button {
    height: 41px;
    width: 100px;
    font-size: 18px;
  }
}

.eco-container .descripcion-eco, .alien-container .descripcion-juego {
  width: 600px;
  background-color: rgba(62, 52, 117, 0.2941176471);
  border-radius: 30px;
  padding-left: 15px;
}
.eco-container .descripcion-eco h2, .alien-container .descripcion-juego h2 {
  text-align: center;
  color: #f79655;
  padding: 10px;
  font-size: 30px;
  font-family: "Aclonica", sans-serif;
}
.eco-container .descripcion-eco p, .alien-container .descripcion-juego p {
  margin-left: 5px;
  margin-right: 5px;
  color: #a0cf1d;
  padding: 5px;
  font-size: 20px;
  font-family: "Bowlby One", cursive;
}
@media (max-width: 1249px) {
  .eco-container .descripcion-eco, .alien-container .descripcion-juego {
    margin-right: 0px;
    margin-top: 50px;
  }
}
@media (max-width: 650px) {
  .eco-container .descripcion-eco, .alien-container .descripcion-juego {
    width: 450px;
  }
}
@media (max-width: 500px) {
  .eco-container .descripcion-eco, .alien-container .descripcion-juego {
    width: 300px;
  }
}

header {
  height: 100px;
}
header .navbar .container-fluid {
  background: -webkit-linear-gradient(to right, #512DA8, #673AB7); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #512DA8, #673AB7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
}
header .navbar .container-fluid .navbar-brand {
  font-family: Carter One;
  margin-left: 4.5%;
  color: #dbcfcf;
  font-size: 60px;
}
@media (max-width: 500px) {
  header .navbar .container-fluid .navbar-brand {
    font-size: 44px;
    margin-left: 1%;
  }
}
header .navbar .container-fluid .navbar-toggler {
  border: 2px solid #dbcfcf;
  margin-left: auto;
}
header .navbar .container-fluid .navbar-toggler:focus {
  box-shadow: 0 0 0 2px #dbcfcf;
}
header .navbar .container-fluid .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28219, 207, 207, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
header .navbar-nav {
  margin: 0 4.5% 0 auto;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 990px) {
  header .navbar-nav {
    align-items: end;
  }
}
header .navbar-nav .nav-link {
  color: #dbcfcf;
  font-size: 26px;
  transition: all 0.3s;
}
header .navbar-nav .nav-link:hover {
  color: #dbcfcf;
  text-shadow: 1.8px 1.8px black;
}
@media (max-width: 500px) {
  header {
    height: 76px;
  }
}

.progress_bar {
  animation-name: backgroundBar;
  animation-duration: 2s;
  position: fixed;
  top: 93px;
  z-index: 3;
}
.progress_bar .fill {
  background-color: #ecd865;
  width: 0%;
  animation-name: filling;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(0.6, -0.05, 0.96, 0.41);
}
@media (max-width: 500px) {
  .progress_bar {
    top: 71px;
  }
}

@keyframes backgroundBar {
  0% {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2862745098);
    height: 7px;
    @media (max-width: 500px) {
      width: 5px;
    }
  }
  100% {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2862745098);
    height: 7px;
    @media (max-width: 500px) {
      width: 5px;
    }
  }
}
@keyframes filling {
  0% {
    width: 0%;
    height: 100%;
  }
  99% {
    width: 99%;
    height: 100%;
  }
}
.titulo-index {
  margin: 5% 0px 3% 11%;
  font-size: 48px;
  color: #dbcfcf;
  font-family: helvetica Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
@media (max-width: 1249px) {
  .titulo-index {
    text-align: center;
    margin-left: 0;
  }
}
@media (max-width: 880px) {
  .titulo-index {
    font-size: 34px;
  }
}

.alien-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.alien-container .carousel {
  width: 600px;
  height: 460.5px;
}
@media (max-width: 650px) {
  .alien-container .carousel {
    width: 450px;
    height: 300px;
  }
}
@media (max-width: 500px) {
  .alien-container .carousel {
    width: 300px;
    height: 200px;
  }
}
.alien-container .carousel img {
  width: 600px;
  height: 460.5px;
  border-radius: 6px;
  transition: 0.4s;
}
.alien-container .carousel img:hover {
  transform: scale(1.5);
}
@media (max-width: 650px) {
  .alien-container .carousel img {
    width: 450px;
    height: 300px;
  }
}
@media (max-width: 500px) {
  .alien-container .carousel img {
    width: 300px;
    height: 200px;
  }
}
.alien-container .descripcion-juego {
  margin-left: 50px;
}
@media (max-width: 1249px) {
  .alien-container .descripcion-juego {
    margin-left: 0;
  }
}
@media (max-width: 1249px) {
  .alien-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.eco-container {
  margin-top: 77px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.eco-container img {
  object-fit: cover;
  width: 600px;
  height: 460.5px;
  border-radius: 6px;
  transition: 0.4s;
}
.eco-container img:hover {
  transform: scale(1.5);
}
@media (max-width: 650px) {
  .eco-container img {
    width: 450px;
    height: 300px;
  }
}
@media (max-width: 500px) {
  .eco-container img {
    width: 300px;
    height: 200px;
  }
}
.eco-container .descripcion-eco {
  margin-right: 50px;
}
@media (max-width: 1249px) {
  .eco-container .descripcion-eco {
    margin-right: 0;
  }
}
@media (max-width: 1249px) {
  .eco-container {
    margin-top: 77px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }
}

.enfasis {
  font-style: normal;
  font-size: 25px;
  color: #f5e611;
}

.ig2 {
  width: 600px;
  height: 460.5px;
  border-radius: 6px;
  overflow: hidden;
}
@media (max-width: 650px) {
  .ig2 {
    width: 450px;
    height: 300px;
  }
}
@media (max-width: 500px) {
  .ig2 {
    width: 300px;
    height: 200px;
  }
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-container .formulario {
  display: grid;
  width: 900px;
  background-color: rgba(62, 52, 117, 0.2941176471);
  border-radius: 10px;
  row-gap: 25px;
  padding: 25px 40px 25px;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "label1 input1" "label2 input2" "label3 input3" "label4 txt-txtar" "...    check" "...    bttn";
}
@media (max-width: 1050px) {
  .form-container .formulario {
    width: 690px;
  }
}
@media (max-width: 700px) {
  .form-container .formulario {
    width: 500px;
    grid-template-columns: 1fr 3fr;
  }
}
@media (max-width: 500px) {
  .form-container .formulario {
    width: 100%;
    border-radius: 0px;
    padding-right: 5%;
    padding-left: 2%;
  }
}
.form-container .formulario .label {
  color: #f1e647;
  font-size: 30px;
  font-family: Helvetica, sans-serif;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px 0 0;
}
@media (max-width: 700px) {
  .form-container .formulario .label {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .form-container .formulario .label {
    font-size: 22px;
    height: 40px;
  }
}
.form-container .formulario .input {
  font-size: 24px;
}
.form-container .formulario .input:focus {
  outline: none;
}
@media (max-width: 700px) {
  .form-container .formulario .input {
    font-size: 18px;
  }
}
.form-container .formulario .label1 {
  grid-area: label1;
  padding: 3px;
  justify-self: center;
}
.form-container .formulario .label2 {
  grid-area: label2;
  padding: 3px;
  justify-self: center;
}
.form-container .formulario .label3 {
  grid-area: label3;
  padding: 3px;
  justify-self: center;
}
.form-container .formulario .label4 {
  grid-area: label4;
  padding: 3px;
  justify-self: center;
}
.form-container .formulario .input1 {
  grid-area: input1;
  padding: 3px;
}
.form-container .formulario .input2 {
  grid-area: input2;
  padding: 3px;
}
.form-container .formulario .input3 {
  grid-area: input3;
  padding: 3px;
}
.form-container .formulario .area-texto {
  grid-area: txt-txtar;
  padding: 3px;
  font-size: 18px;
  height: 178px;
}
@media (max-width: 700px) {
  .form-container .formulario .area-texto {
    font-size: 14px;
  }
}
.form-container .formulario .terminos {
  grid-area: check;
  display: flex;
  justify-content: space-between;
  justify-self: end;
}
.form-container .formulario .terminos > input {
  margin-left: 5px;
}
@media (max-width: 700px) {
  .form-container .formulario .terminos {
    font-size: 14px;
  }
}
.nosotros-main {
  font-family: Arial, Helvetica, sans-serif;
}
.nosotros-main h1 {
  font-size: 48px;
  color: #dbcfcf;
  margin: 5% 0px 3% 11%;
}
@media (max-width: 880px) {
  .nosotros-main h1 {
    margin-left: 0;
  }
}
.nosotros-main p {
  font-size: 26px;
  margin: 3% 5% 30px 5%;
  color: #f5e611;
  font-family: "Aclonica", sans-serif;
}
@media (max-width: 880px) {
  .nosotros-main p {
    margin: 3% 0% 30px 0%;
  }
}
.nosotros-main ul .primer {
  margin-top: 4%;
}
.nosotros-main ul li {
  margin: 0% 0% 4% 3%;
  list-style-type: square;
  color: #f79655;
  font-size: 26px;
}
.nosotros-main ul li h3 {
  font-size: 35px;
  margin-right: 1%;
  font-family: "Bowlby One", cursive;
}
@media (max-width: 880px) {
  .nosotros-main ul li {
    list-style-type: none;
    margin-left: 0;
  }
}
@media (max-width: 880px) {
  .nosotros-main {
    text-align: center;
  }
}

footer {
  margin-top: 120px;
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100px;
}
footer div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
footer div a {
  padding-inline: 3%;
}
footer div a i {
  font-size: 50px;
  color: #b9b3b3;
  transition: 0.3s;
}
footer div a .fa-facebook:hover {
  color: #1778F2;
}
footer div a .fa-twitter:hover {
  color: #1DA1F2;
}
footer div a .fa-instagram:hover {
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer div a .fa-circle-question:hover {
  color: #4075e9;
}

.contacto-main {
  color: #dbcfcf;
}
.contacto-main h1 {
  margin: 5% 0px 3% 11%;
  font-size: 48px;
}
@media (max-width: 700px) {
  .contacto-main h1 {
    margin-left: 0;
    text-align: center;
    font-size: 38px;
  }
}
.contacto-main h2 {
  font-size: 30px;
  text-align: center;
}
.contacto-main .contacto-contenido {
  margin-top: 30px;
}
.contacto-main .contacto-contenido .mapa {
  display: block;
  width: 1200px;
  height: 600px;
  margin: auto;
}
@media (max-width: 1250px) {
  .contacto-main .contacto-contenido .mapa {
    width: 1000px;
    height: 500px;
  }
}
@media (max-width: 1050px) {
  .contacto-main .contacto-contenido .mapa {
    width: 800px;
    height: 400px;
  }
}
@media (max-width: 850px) {
  .contacto-main .contacto-contenido .mapa {
    width: 600px;
    height: 300px;
  }
}
@media (max-width: 650px) {
  .contacto-main .contacto-contenido .mapa {
    width: 450px;
    height: 225px;
  }
}
@media (max-width: 500px) {
  .contacto-main .contacto-contenido .mapa {
    width: 100%;
  }
}
.contacto-main .contacto-contenido .form-container h2 {
  margin: 30px 0 15px 0;
}

/*# sourceMappingURL=styles.css.map */
