@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Bowlby+One&family=Carter+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: #141313;
}

header {
  height: 100px;
}

.container-fluid {
  background: -webkit-linear-gradient(to right, #512DA8, #673AB7); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #512DA8, #673AB7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}
.container-fluid .navbar-brand {
  font-family: Carter One;
  margin-left: 4.5%;
}
.container-fluid .navbar-toggler {
  border: 2px solid #dbcfcf;
}
.container-fluid .navbar-toggler:focus {
  box-shadow: 0 0 0 2px #dbcfcf;
}
.container-fluid .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28219, 207, 207, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.container-fluid .collapse .navbar-nav {
  margin: 0 4.5% 0 auto;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}
.container-fluid .collapse .navbar-nav .nav-link {
  color: #dbcfcf;
  font-size: 35px;
}
.container-fluid .collapse .navbar-nav .nav-link:hover {
  color: #dbcfcf;
  text-shadow: 2px 2px rgba(26, 26, 26, 0.897);
}
.container-fluid .collapse .navbar-nav .inicio {
  font-size: 40px;
}

/*Index.html*/
.titulo-index {
  margin: 5% 0px 3% 11%;
  font-size: 48px;
  color: #dbcfcf;
  font-family: helvetica Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.alien-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.alien-container img {
  width: 600px;
  height: 400px;
  border-radius: 6px;
}
.alien-container .descripcion-juego {
  width: 600px;
  margin-left: 50px;
  background-color: rgba(62, 52, 117, 0.2941176471);
  border-radius: 30px;
  padding-left: 15px;
}
.alien-container .descripcion-juego h3 {
  color: #f79655;
  padding: 10px;
  font-size: 30px;
  font-family: "Aclonica", sans-serif;
}
.alien-container .descripcion-juego p {
  margin-left: 5px;
  margin-right: 5px;
  color: #a0cf1d;
  padding: 5px;
  font-size: 20px;
  font-family: "Bowlby One", cursive;
}

.eco-container {
  margin-top: 77px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.eco-container img {
  width: 600px;
  height: 400px;
  border-radius: 6px;
}
.eco-container .descripcion-eco {
  width: 600px;
  margin-right: 50px;
  background-color: rgba(62, 52, 117, 0.2941176471);
  border-radius: 30px;
  padding-left: 15px;
}
.eco-container .descripcion-eco h3 {
  color: #f79655;
  padding: 10px;
  font-size: 30px;
  font-family: "Aclonica", sans-serif;
}
.eco-container .descripcion-eco p {
  margin-left: 5px;
  margin-right: 5px;
  color: #a0cf1d;
  padding: 5px;
  font-size: 20px;
  font-family: "Bowlby One", cursive;
}

.enfasis {
  font-style: normal;
  font-size: 25px;
  color: #f5e611;
}

/*contacto.html*/
.contacto-main {
  color: #dbcfcf;
}
.contacto-main h2 {
  margin: 5% 0px 3% 11%;
  font-size: 48px;
}
.contacto-main h3 {
  font-size: 30px;
  text-align: center;
}
.contacto-main .contacto-contenido {
  margin-top: 30px;
}
.contacto-main .contacto-contenido .mapa {
  display: block;
  width: 1000px;
  height: 500px;
  margin: auto;
}
.contacto-main .contacto-contenido .form-container h3 {
  margin: 6% 0% 4% 0%;
}
.contacto-main .contacto-contenido .form-container .formulario {
  display: grid;
  grid-template-columns: 20fr 35fr 55fr;
  grid-template-areas: "name-labe name-in   none" "mail-labe mail-in   none" "cel-labe  cel-in    none" "txt-labe  txt-txtar none" "check     check     none" "... bttn ...";
}
.contacto-main .contacto-contenido .form-container .formulario .label {
  background-color: rgba(62, 52, 117, 0.2941176471);
  color: #f5e611;
  font-size: 30px;
  font-family: Helvetica, sans-serif;
  height: 56px;
  width: 179px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
.contacto-main .contacto-contenido .form-container .formulario .label:nth-child(1) {
  grid-area: name-labe;
  padding: 3px;
  justify-self: center;
}
.contacto-main .contacto-contenido .form-container .formulario .label:nth-child(3) {
  grid-area: mail-labe;
  padding: 3px;
  justify-self: center;
}
.contacto-main .contacto-contenido .form-container .formulario .label:nth-child(5) {
  grid-area: cel-labe;
  padding: 3px;
  justify-self: center;
}
.contacto-main .contacto-contenido .form-container .formulario .label:nth-child(7) {
  grid-area: txt-labe;
  padding: 3px;
  justify-self: center;
}
.contacto-main .contacto-contenido .form-container .formulario .input {
  font-size: 24px;
  margin-top: 25px;
}
.contacto-main .contacto-contenido .form-container .formulario .input:focus {
  outline: none;
}
.contacto-main .contacto-contenido .form-container .formulario .input:nth-child(2) {
  grid-area: name-in;
  padding: 3px;
}
.contacto-main .contacto-contenido .form-container .formulario .input:nth-child(4) {
  grid-area: mail-in;
  padding: 3px;
}
.contacto-main .contacto-contenido .form-container .formulario .input:nth-child(6) {
  grid-area: cel-in;
  padding: 3px;
}
.contacto-main .contacto-contenido .form-container .formulario .area-texto {
  grid-area: txt-txtar;
  padding: 3px;
  font-size: 18px;
  height: 178px;
}
.contacto-main .contacto-contenido .form-container .formulario .terminos {
  grid-area: check;
  display: flex;
  justify-content: space-between;
  justify-self: end;
  margin: 5px 0 5px 5px;
}
.contacto-main .contacto-contenido .form-container .formulario .send-button {
  grid-area: bttn;
  padding: 3px;
  justify-self: end;
  height: 50px;
  width: 120px;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  color: #fff;
  background-color: rgba(62, 52, 117, 0.2941176471);
  border: none;
  border-radius: 4px;
}
.contacto-main .contacto-contenido .form-container .formulario .send-button:hover {
  box-shadow: 2px 2px black;
}

/*Nosotros.html*/
.nosotros-main {
  font-family: Arial, Helvetica, sans-serif;
}
.nosotros-main h2 {
  font-size: 48px;
  color: #dbcfcf;
  margin: 5% 0px 3% 11%;
}
.nosotros-main p {
  font-size: 26px;
  margin: 3% 5% 30px 5%;
  color: #f5e611;
  font-family: "Aclonica", sans-serif;
}
.nosotros-main ul li {
  margin: 0% 0% 4% 3%;
  list-style-type: square;
  color: #f79655;
  font-size: 26px;
}
.nosotros-main ul li h3 {
  font-size: 35px;
  margin-right: 1%;
  font-family: "Bowlby One", cursive;
}
.nosotros-main ul .primer {
  margin-top: 4%;
}

footer {
  margin-top: 120px;
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100px;
}
footer div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
footer div a {
  padding-inline: 3%;
}
footer div a i {
  font-size: 50px;
  color: #b9b3b3;
}

.fa-facebook:hover {
  color: #1778F2;
}

.fa-twitter:hover {
  color: #1DA1F2;
}

.fa-instagram:hover {
  background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-circle-question:hover {
  color: #4075e9;
}

@media (max-width: 1249px) {
  .titulo-index {
    text-align: center;
    margin-left: 0;
  }
  .eco-container {
    margin-top: 77px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }
  .eco-container .descripcion-eco {
    margin-right: 0px;
    margin-top: 50px;
    border-radius: 30px;
    padding-left: 15px;
  }
  .alien-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .alien-container .descripcion-juego {
    margin-top: 50px;
    margin-left: 0px;
  }
}
@media (max-width: 1000px) {
  .mapa {
    width: 700px;
    height: 350px;
  }
  .formulario {
    display: grid;
    grid-template-columns: 23fr 20fr 35fr 23fr;
    grid-template-areas: "... name-labe name-in   none" "... mail-labe mail-in   none" "... cel-labe  cel-in    none" "... txt-labe  txt-txtar none" "... check     check     none" "... ... bttn ...";
  }
}
@media (max-width: 990px) {
  .navbar-nav {
    align-items: end;
  }
}
@media (max-width: 880px) {
  header {
    height: 110px;
  }
  .titulo-index {
    font-size: 34px;
  }
  .nosotros-main {
    text-align: center;
  }
  .nosotros-main h2 {
    margin-left: 0;
  }
  .nosotros-main p {
    margin: 3% 0% 30px 0%;
  }
  .nosotros-main ul li {
    list-style-type: none;
    margin-left: 0;
  }
}
@media (max-width: 700px) {
  .mapa {
    width: 350px;
    height: 175px;
  }
}
@media (max-width: 650px) {
  .alien-container img {
    width: 450px;
    height: 300px;
  }
  .descripcion-juego {
    width: 450px;
  }
  .eco-container img {
    width: 450px;
    height: 300px;
  }
  .descripcion-eco {
    width: 450px;
  }
}
@media (max-width: 500px) {
  .alien-container img {
    width: 300px;
    height: 200px;
  }
  .descripcion-juego {
    width: 300px;
  }
  .eco-container img {
    width: 300px;
    height: 200px;
  }
  .descripcion-eco {
    width: 300px;
  }
}

/*# sourceMappingURL=syles.css.map */
