$main_color: #dbcfcf;
$enf_color: #f5e611;
$description: #f79655;
$simple_text: #a0cf1d;
$card_back: #3e34754b;
$button1: #3e34754b;
$shadow: black;
$facebook: #1778F2;
$twitter: #1DA1F2;
$insta1: #f09433;
$insta2: #e6683c;
$insta3: #dc2743;
$insta4: #cc2366;
$insta5: #bc1888;
$help: #4075e9;
$ttl_size: 48px;
$ttl_size-S: 38px;


  